body
{
    font-family: 'Amatic SC', cursive;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
}
header, footer{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}