
html{
    height:100%;
  

}
body{
    background-color:antiquewhite;
    position: relative;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
    font-weight:200;
    
}

.main-content {
    padding:1rem;
   
    
}

i
{
    padding: 5px;
}

.box
{
    float:left;
    height: 30px;
    width: 30px;
    
}
.flex-container
{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.title
{
    color:antiquewhite;
    text-shadow: 3px 2px 2px #9c92a3;
    letter-spacing: 2px;
    
}
.divider
{
    height: 5px;
    width: 50%;
    background-color:#e8d4d0
}


.nav-pills{
    color: #ccb1ad;
}
.navbar
{
   background: linear-gradient(hsla(0, 0%, 0%, 0.8), transparent)
}
/*parallax image*/
.parallax {
    
    background-image: url("./images/pinktea.jpg");

    
    height: 100vh;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    text-align: center;
    font-family: 'Lora', serif; 
    font-weight: 700;
    color:#734b5e

}

.jobDate
{
    text-align: left;
}
.jobRole
{
    font-weight: 800;
    
}
p
{
    
    font-family: 'Nunito', sans-serif;
    font-weight:200;
   
}
.jobDate{
    font-style:italic;
}

li:hover
{
    background: rgba(0,0,0,0.15);
}
.iconLink:hover
{
    background: #b585b1;
    border-radius:50%;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}
link:hover
{  
    background: #b585b1;
    -ms-transition:.75s;
    -moz-transition:.75s;
    -webkit-transition:.75s;
    transition:.75s;

}

img
{
        display: block;
        margin-left: auto;
        margin-right: auto;
}

@media screen and (max-width: 800px) {
    img{
       width: 100%

    }
}
@media screen and (min-width: 801px) {
  
    img
    {
        max-width:70vw;
    }
  
}


.active
{
    box-shadow:  0 -3px 0 0 inset;
    
}
#footer
{
    width:100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c4b63;
    font-size: .75em

    
}
#projects, #experience, #skills, #aboutme
{
    height:100vh;
}
