body{
    height: auto;
    background-color:antiquewhite;
}
.main-content {
    padding:1rem;
    
}
.box
{
    float:left;
    height: 10px;
    width: 15px;
    
}
#color1
{
    background-color:#5d5550
}
#color2
{
    background-color:#9bc689
}
#color3
{
    background-color:#b3cfdd
}
#color4
{
    background-color:#e8d4d0
}
#color5
{
    background-color:#fba493
}

.nav-pills{
    color: #ccb1ad;
}
.navbar
{
   background: linear-gradient(hsla(0, 0%, 0%, 0.8), transparent)
}
/*parallax image*/
.parallax {
    
    background-image: url("./images/tes.jpg");

    
    height: 500px;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h4
{
    text-align: center;
    font-size: 2rem;
    font-family: 'Lora', serif; 
    font-weight: 700;

}
p
{
    
    font-family: 'Nunito', sans-serif;
    font-weight:200;
    
   
}
.footer
{
   
    right: 0;
    bottom: 0;
    left: 0;
     position:absolute;
    width:100%;
    text-align: center;
    
}